<template>
  <div>
    <div class="columns">
      <div class="column is-two-thirds is-offset-2 u-m-top-30">
        <h2 class="title is-2 has-text-centered">Biggest Batch</h2>
        <stats-chart v-if="chart_label.length > 0" :labels="chart_label" :data="chart_data"></stats-chart>
        <br>
        <hr>
        <br>
        <h2 class="title is-2 has-text-centered">Oldest Batch ({{oldest_batch.year}}) Members</h2>
        <table class="table is-fullwidth is-bordered is-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Full Name</th>
              <th>Birthday (MM/DD/YYYY)</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(registrant, index) in oldest_batch.members" :key="registrant.id">
              <td>{{index + 1}}</td>
              <td>{{registrant.fullname}}</td>
              <td>{{formatDate(registrant.birthdate)}}</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</template>

<script>
import { registrantsCollection } from "../firebase";
import StatsChart from "../components/StatsChart";

export default {
  name: "list",
  components: { StatsChart },
  data() {
    return {
      registrants: [],
      oldest_batch: [],
      chart_label: [],
      chart_data: []
    };
  },
  firestore() {
    return {
      registrants: registrantsCollection.orderBy("batchYear", "desc")
    };
  },
  methods: {
    formatDate (_date) {
      let date = new Date(_date)      
      let year = date.getFullYear();

      let month = (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      let day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;
      
      let formated_date = month + '/' + day + '/' + year
      return formated_date
    }
  },
  watch: {
    registrants() {
      let batch = [];
      this.registrants.forEach(element => {
        // Increment count if year is already on the batch array object
        let _found = batch.findIndex(
          batch_item => batch_item.year == element.batchYear
        );
        if (_found < 0) {
          const item = new Object();
          item.year = element.batchYear;
          item.count = 1;
          item.members = []
          item.members.push({
            fullname: element.fullName,
            birthdate: element.birthDate
          })
          batch.push(item);
        } else {
          let _count = batch[_found].count;
          batch[_found].count = _count + 1;
          batch[_found].members.push({
            fullname: element.fullName,
            birthdate: element.birthDate
          })
        }
      });

      batch.sort((a, b) => (a.count < b.count ? 1 : -1));

      let _limit = 5

      for (let index = 0; index < batch.length; index++) {
        const element = batch[index];
        if (index === _limit) break
        this.chart_label.push(element.year)
        this.chart_data.push(element.count)
      }

      batch.sort((a, b) => (a.year > b.year ? 1 : -1));
      if (batch.length > 0) {
        this.oldest_batch = batch[0]
      }
    }
  }
};
</script>