<template>
    <div>
      <div class="columns">
        <div class="column is-8 is-offset-2 u-m-top-30">
          <form action="" @submit.prevent="addRegistrant()" class="u-m-bottom-40">
            <h2 class="is-size-2 u-m-bottom-30 has-text-centered">Add New LCHS Registrant</h2>
            <b-field label="Full Name" class="has-text-left" :type="error_name" :message="error_name_msg">
              <b-input size="is-large" v-model="full_name"></b-input>
            </b-field>
            <div class="columns">
              <div class="column is-6">
                <b-field label="Year/Batch" class="has-text-left" :type="error_batch" :message="error_batch_msg">
                  <b-input size="is-large" v-model="batch" type="number" min="1940"></b-input>
                </b-field>
              </div>
              <div class="column is-6">
                <b-field label="Contact Number" class="has-text-left">
                  <b-input size="is-large" v-model="contact_number" type="number" min="0"></b-input>
                </b-field>
              </div>
            </div>
            <div class="columns">
              <div class="column is-6">
                <b-field label="Email Address" class="has-text-left">
                  <b-input size="is-large" v-model="email_address"></b-input>
                </b-field>
              </div>
              <div class="column is-6">
                <b-field label="Birthday" class="has-text-left">
                  <b-datepicker
                    v-model="birth_date"
                    placeholder="Select date..."
                    icon="calendar"
                    size="is-large"
                    editable>
                  </b-datepicker>
                  <!-- <b-input size="is-large" v-model="birth_date" type="date"></b-input> -->
                </b-field>
              </div>
            </div>            
            <div class="field u-p-top-15 u-p-bottom-15">
              <b-button size="is-large" type="is-primary" expanded :loading="submitting" native-type="submit">Save Registration</b-button>
            </div>
            <b-message v-if="is_success" type="is-success">Registrant Added Successfully!</b-message>
          </form>
        </div>
      </div>
    </div>
</template>

<script>
import { registrantsCollection } from '../firebase';

export default {
  name: 'home',
  data () {
    return {
      full_name: '',
      batch: '',
      contact_number: '',
      email_address: '',
      birth_date: new Date(),
      submitting: false,
      registrants: [],
      is_success: false,
      error_name: '',
      error_name_msg: '',
      error_batch: '',
      error_batch_msg: ''
    }
  },
  methods: {
    formatDate (_date) {
      let date = new Date(_date)      
      let year = date.getFullYear();

      let month = (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      let day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;
      
      let formated_date = month + '/' + day + '/' + year
      return formated_date
    },
    addRegistrant () {
      let vm = this
      if (vm.full_name.trim() === "") {
        vm.error_name = 'is-danger'
        vm.error_name_msg = 'Please input field'
        return false
      } else {
        vm.error_name = ''
        vm.error_name_msg = ''
      }
      if (vm.batch.trim() === "") {
        vm.error_batch = 'is-danger'
        vm.error_batch_msg = 'Please input field'
        return false
      } else {
        vm.error_batch = ''
        vm.error_batch_msg = ''
      }
      vm.submitting = true
      let data = {
        fullName: vm.full_name,
        batchYear: vm.batch,
        contactNumber: vm.contact_number,
        emailAddress: vm.email_address,
        birthDate: vm.formatDate(vm.birth_date),
        createdAt: new Date(),
        is_winner: false,
        prize_desc: ''
      }
      registrantsCollection.add(data)
        .then(function(docRef) {
          console.log("Document written with ID: ", docRef.id);
          vm.full_name = ''
          vm.batch = ''
          vm.contact_number = ''
          vm.email_address = ''
          vm.birth_date = new Date()
          vm.submitting = false
          vm.is_success = true
        })
        .catch(function(error) {
          console.error("Error adding document: ", error);
          vm.submitting = false
          vm.is_success = false
        })
        .finally(() => vm.submitting = false);
    }
  },
}
</script>