<template>
	<div>
		<div class="columns">
			<div class="column">
        <h2 class="is-size-3 u-m-top-20 u-m-bottom-20">List of Registrants</h2>
        <b-field>
            <b-input placeholder="Search..."
                type="search"
                icon-pack="fas"
                icon="search"
                v-model="search">
            </b-input>
        </b-field>
        <table class="table is-fullwidth is-bordered is-striped is-narrow u-m-bottom-30">
        <thead>
          <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Batch/Year</th>
            <th>Birthday (DD/MM/YYY)</th>
            <th>Contact No.</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(registrant, index) in filteredList" :key="registrant.id">
            <td>{{index + 1}}</td>
            <td>{{registrant.fullName}}</td>
            <td>{{registrant.batchYear}}</td>
            <td>{{formatDate(registrant.birthDate)}}</td>
            <td>{{registrant.contactNumber}}</td>
            <td>{{registrant.emailAddress}}</td>
            <td>
              <b-button type="is-warning" size="is-small" icon-left="edit" @click="showEditModal(registrant)">Edit</b-button>
            </td>
          </tr>
        </tbody>
        </table>
			</div>
      <b-modal :active.sync="show_modal"
        has-modal-card
        trap-focus
        aria-role="dialog"
        width="500px"
        aria-modal>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Edit Registrant Info</p>
            </header>
            <section class="modal-card-body">
              <b-field label="Full Name">
                <b-input v-model="temp_reg.fullName" required></b-input>
              </b-field>
              <b-field label="Batch Year">
                <b-input v-model="temp_reg.batchYear" required></b-input>
              </b-field>
              <b-field label="Contact No.">
                <b-input v-model="temp_reg.contactNumber"></b-input>
              </b-field>
              <b-field label="Email Address">
                <b-input v-model="temp_reg.emailAddress"></b-input>
              </b-field>
              <b-field label="Birthday">
                <b-input v-model="temp_reg.birthDate" type="date"></b-input>
              </b-field>
            </section>
            <footer class="modal-card-foot">
              <button class="button" type="button" @click="closeModal">Close</button>
              <b-button type="is-primary" @click="updateRegistrant" :loading="is_saving" :disabled="is_saving">Save Changes</b-button>
            </footer>
          </div>
      </b-modal>
		</div>
	</div>
</template>

<script>
import { registrantsCollection } from '../firebase';

export default {
  name: 'list',
  data () {
    return {
      registrants: [],
      show_modal: false,
      temp_reg: {},
      is_saving: false,
      search: ''
    }
  },
  firestore() {
    return {
      registrants: registrantsCollection.orderBy('createdAt', 'desc').limit(50)
    }
  },
  methods: {
    formatDate (_date) {
      let date = new Date(_date)      
      let year = date.getFullYear();

      let month = (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      let day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;
      
      let formated_date = day + '/' + month + '/' + year
      return formated_date
    },
    showEditModal (registrants) {
      this.show_modal = true
      this.temp_reg = registrants
    },
    closeModal () {
      this.show_modal = false
      this.temp_reg = {}
    },
    updateRegistrant() {
      let vm = this
      let update_registrant = vm.temp_reg
      vm.is_saving = true
      registrantsCollection.doc(update_registrant.id).update(update_registrant)
      .then(function(docRef) {
        console.log("Updated document with ID: ", update_registrant.id);
        vm.is_saving = false
        vm.show_modal = false
        vm.temp_reg = {}
      })
      .catch(function(error) {
        vm.is_saving = false
        vm.show_modal = false
        vm.temp_reg = {}
        console.error("Error updating document: ", update_registrant);
      });
    }
  },
  computed: {
    filteredList() {
      return this.registrants.filter(registrant => {
        return registrant.fullName.toLowerCase().includes(this.search.toLowerCase())
      })
    },
    batchRegistrants() {
      let batch = []
      this.registrants.forEach(element => {
        // Increment count if year is already on the batch array object
        let _found = batch.findIndex(batch_item => batch_item.year == element.batchYear)
        console.log(_found)
        if (_found < 0) {
          const item = new Object();
          item.year = parseInt(element.batchYear)
          item.count = 1
          batch.push(item)
        } else {
          let _count = batch[_found].count
          batch[_found].count = _count + 1
        }
      })
      batch.sort((a, b) => (a.year > b.year) ? 1 : -1)
      return batch
    }
  },
}
</script>