<template>
  <div>
    <video autoplay muted loop id="myVideo" poster="/dist/Poster.jpg">
      <source src="/dist/RAFFLE_Template_2.mp4" type="video/mp4">
    </video>
    <div class="most-senior">
      <p class="_title">Most Senior Alumna:</p>
      <p>{{most_senior.fullname}}<span class="year">Batch {{oldest_batch.year}}</span></p>
    </div>
  </div>
</template>

<script>
import { registrantsCollection } from "../firebase";
import StatsChart from "../components/StatsChart";

export default {
  name: "list",
  components: { StatsChart },
  data() {
    return {
      registrants: [],
      oldest_batch: [],
      chart_label: [],
      chart_data: [],
      most_senior: {}
    };
  },
  firestore() {
    return {
      registrants: registrantsCollection.orderBy("batchYear", "desc")
    };
  },
  methods: {
    formatDate (_date) {
      let date = new Date(_date)      
      let year = date.getFullYear();

      let month = (1 + date.getMonth()).toString();
      month = month.length > 1 ? month : '0' + month;

      let day = date.getDate().toString();
      day = day.length > 1 ? day : '0' + day;
      
      let formated_date = month + '/' + day + '/' + year
      return formated_date
    }
  },
  watch: {
    registrants() {
      let batch = [];
      this.registrants.forEach(element => {
        // Increment count if year is already on the batch array object
        let _found = batch.findIndex(
          batch_item => batch_item.year == element.batchYear
        );
        if (_found < 0) {
          const item = new Object();
          item.year = element.batchYear;
          item.count = 1;
          item.members = []
          item.members.push({
            fullname: element.fullName,
            birthdate: element.birthDate,
            timestamp: new Date(element.birthDate).getTime()
          })
          batch.push(item);
        } else {
          let _count = batch[_found].count;
          batch[_found].count = _count + 1;
          batch[_found].members.push({
            fullname: element.fullName,
            birthdate: element.birthDate,
            timestamp: new Date(element.birthDate).getTime()
          })
        }
      });

      batch.sort((a, b) => (a.count < b.count ? 1 : -1));

      let _limit = 5

      for (let index = 0; index < batch.length; index++) {
        const element = batch[index];
        if (index === _limit) break
        this.chart_label.push(element.year)
        this.chart_data.push(element.count)
      }

      batch.sort((a, b) => (a.year > b.year ? 1 : -1));
      if (batch.length > 0) {
        this.oldest_batch = batch[0]
        console.log(this.oldest_batch.members)
        // Sort By Birthday
        this.oldest_batch.members.sort((a, b) => (a.timestamp > b.timestamp ? 1 : -1));
        console.log('sorted bday:')
        console.log(this.oldest_batch.members)
        this.most_senior = this.oldest_batch.members[0]
      }
    }
  }
};
</script>
<style>
@font-face {
  font-family: 'digital-7_monomono';
  src: url('/dist/font/digital-7_mono-webfont.woff2') format('woff2'),
        url('/dist/font/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow: hidden;
}
.navbar {
  display: none;
}
.container {
  max-width: 100%;
  height: 100vh;
}
#myVideo {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.most-senior {
  position: relative;
  display: block;
  margin: 8% auto 0;
  width: 80%;
  font-size: 7em;
  color: #FFF;
  font-weight: 700;
  font-family: "digital-7_monomono";
  text-align: center;
  line-height: 1;
  text-shadow: 1px 1px 4px #000;
}
.most-senior ._title {
  display: block;
  font-size: 0.7em;
  margin-bottom: 50px;
  /* font-family: "Arial"; */
  font-weight: 300;
}
.most-senior .year {
  display: block;
  font-size: 0.6em;
  color: rgb(255, 153, 37);
}
</style>