<template>
	<div>
    <!-- BG Video -->
    <video autoplay muted loop id="myVideo" poster="/dist/Poster.jpg">
      <source src="/dist/RAFFLE_Template_2.mp4" type="video/mp4">
    </video>
    <p class="price_name">Major Price Winner 1:</p>
		<slot-machine ref="slot-machine" :list="raffle_list"></slot-machine>
	</div>
</template>

<script>
import { registrantsCollection } from '../firebase'
import slotMachine from '../components/SlotMachine'

export default {
  name: 'list',
  components: { "slot-machine": slotMachine },
  data () {
    return {
			registrants: [],
			raffle_list: [],
			trigger: null
    }
  },
  firestore() {
    return {
      registrants: registrantsCollection.orderBy('createdAt', 'desc')
    }
	},
  watch: {
    registrants () {
      if (this.registrants.length > 0) {
        this.raffle_list = []
        for (let index = 0; index < this.registrants.length; index++) {
          const element = this.registrants[index];
          // Only include if is_winner is false
          if (element.is_winner === false) {
            this.raffle_list.push(element)
          }
        }
      }
    }
  }
}
</script>
<style>
@font-face {
  font-family: 'digital-7_monomono';
  src: url('/dist/font/digital-7_mono-webfont.woff2') format('woff2'),
        url('/dist/font/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow: hidden;
}
.navbar {
  display: none;
}
.container {
  max-width: 100%;
  height: 100vh;
}
#myVideo {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.price_name {
  font-family: "digital-7_monomono";
  color: #FFF;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  display: block;
  position: relative;
  top: 130px;
}
.shuffle-button {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
</style>