<template>
	<div>
    <!-- BG Video -->
    <video autoplay muted loop id="myVideo" poster="/dist/Poster.jpg">
      <source src="/dist/RAFFLE_Template_2.mp4" type="video/mp4">
    </video>
    <div class="winners_list">
      <p class="_title">10 Health & Wellness Package Winners:</p>
      <p class="winner_name" v-for="registrant in raffle_winners" :key="registrant.id">{{registrant.name}}<span class="year">({{registrant.year}})</span></p>
      <a @click="randomize" class="shuffle-button">RANDOMIZED</a>
    </div>
	</div>
</template>

<script>
import { registrantsCollection } from '../firebase'
import slotMachine from '../components/SlotMachine'

export default {
  name: 'list',
  components: { "slot-machine": slotMachine },
  data () {
    return {
			registrants: [],
      raffle_list: [],
      raffle_winners: [],
      trigger: null,
      startIndex: 0
    }
  },
  firestore() {
    return {
      registrants: registrantsCollection.orderBy('createdAt', 'desc')
    }
  },
  methods: {
    knuthShuffle (arr) {
      let rand, temp, i;
      for (i = arr.length - 1; i > 0; i -= 1) {
        rand = Math.floor((i + 1) * Math.random());//get random between zero and i (inclusive)
        temp = arr[rand];//swap i and the zero-indexed number
        arr[rand] = arr[i];
        arr[i] = temp;
      }
      return arr;
    },

    randomize () {
      let _s = this.knuthShuffle(this.raffle_list)
      let total_winners = 10
      this.raffle_winners = []
      for (let index = 0; index < total_winners; index++) {
        const element = _s[index];
        this.raffle_winners.push(element)
        let _registrant = this.registrants.find(registrant => registrant.id === element.id)
        if (_registrant) {
          this.updateWinner(_registrant)
        }
      }
    },
    
    updateWinner(registrant) {
      let update_registrant = {...registrant}
      update_registrant.is_winner = true
      update_registrant.prize_desc = '2nd Door-Prizes Winner'
      
      registrantsCollection.doc(registrant.id).update(update_registrant)
      .then(function(docRef) {
        console.log("Updated document with ID: ", registrant.id);

        // Remove this winner on the list
        let _registrantIndex = this.registrants.findIndex(registrant => registrant.id === element.id)
        this.raffle_list.splice(_registrantIndex, 1)
      })
      .catch(function(error) {
        console.error("Error updating document: ", registrant);
      });
    },
  },
  watch: {
    registrants () {
      if (this.registrants.length > 0) {
        this.raffle_list = []
        for (let index = 0; index < this.registrants.length; index++) {
          const element = this.registrants[index];
          // Only include if is_winner is false
          if (element.is_winner === false) {
            this.raffle_list.push({
              id: element.id,
              name: element.fullName,
              year: element.batchYear
            })
          }
        }
        console.log('Orig')
        console.log(this.raffle_list)
      }
    }
  }
}
</script>
<style>
@font-face {
  font-family: 'digital-7_monomono';
  src: url('/dist/font/digital-7_mono-webfont.woff2') format('woff2'),
        url('/dist/font/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow: hidden;
}
.navbar {
  display: none;
}
.container {
  max-width: 100%;
  height: 100vh;
}
#myVideo {
  position: fixed;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.shuffle-button {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.winners_list {
  position: relative;
  display: block;
  margin: 4% auto 0;
  width: 60%;
}
.winners_list ._title {
  font-family: "digital-7_monomono";
  color: #FFF;
  font-weight: 300;
  font-size: 2.1em;
  text-align: center;
}
.winner_name {
  font-family: "digital-7_monomono";
  color: #FFF;
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1;
  margin: 1px 0;
  text-shadow: 1px 1px 4px rgb(22, 22, 22);
  text-align: center;
}
.winner_name .year {
  font-size: 0.9em;
  color: rgb(255, 153, 37);
  margin-left: 10px;
}
</style>