<template>
  <div>
    <div class="slot-machine">
      <div class="slot" v-for="(slot, index) in slots" ref="slots" :key="index">
        <div class="slot__window">
          <div class="slot__wrap">
            <div class="slot__item" :class="{ show: showResult }" v-for="(opt, index) in raffle_list" :key="index">{{ opt.fullName }}<span class="year">({{opt.batchYear}})</span></div>
            <div class="slot__item slot__item--copy">-</div>
          </div>
        </div>
      </div>
    </div>
    <div class="shuffle-button">
      <a @click.prevent="initShuffle" class="">Shuffle</a>
    </div>
  </div>
</template>
<script>
const next =
  window.requestAnimationFrame ||
  window.webkitRequestAnimationFrame ||
  window.mozRequestAnimationFrame ||
  window.msRequestAnimationFrame ||
  window.oRequestAnimationFrame ||
  function(cb) {
    window.setTimeout(cb, 1000 / 60);
  };

import { registrantsCollection } from '../firebase'

export default {
  props: ["list"],
  data() {
    return {
      slots: [
        {
          title: "Winner",
          items: ["today", "next week", "last year", "tomorrow", "yesterday"]
        }
      ],
      opts: null,
			startedAt: null,
      showResult: false,
      raffle_winner: {},
      raffle_winner_index: null,
      raffle_list: []
    };
  },
  methods: {
    initShuffle () {
      let vm = this
      vm.showResult = false
      // Remove the last winner on the list first
      if (vm.raffle_winner_index != null) {
        vm.raffle_list.splice(vm.raffle_winner_index, 1)
        // Sleep for 1 second
        setTimeout(() => {
          vm.startShuffle()
        }, 500)
      } else {
        vm.startShuffle()
      }
    },

    startShuffle() {
			let vm = this
      if (vm.opts) {
        return;
      }
      
			vm.showResult = true
      vm.opts = vm.slots.map((data, i) => {
        const slot = vm.$refs.slots[i];
        const choice = Math.floor(Math.random() * vm.raffle_list.length);
        vm.raffle_winner = vm.raffle_list[choice]
        vm.raffle_winner_index = choice

        const opts = {
          el: slot.querySelector(".slot__wrap"),
          finalPos: choice * 280,
          startOffset: 2000 + Math.random() * 500 + i * 500,
          height: vm.raffle_list.length * 280,
          duration: 3000 + i * 700, // milliseconds
          isFinished: false
        };

        return opts;
      });

      next(vm.animate);
    },

    animate(timestamp) {
      if (this.startedAt == null) {
        this.startedAt = timestamp;
      }

      const timeDiff = timestamp - this.startedAt;

      this.opts.forEach(opt => {
        if (opt.isFinished) {
          return;
        }

        const timeRemaining = Math.max(opt.duration - timeDiff, 0);
        const power = 3;
        const offset =
          (Math.pow(timeRemaining, power) / Math.pow(opt.duration, power)) *
          opt.startOffset;

        // negative, such that slots move from top to bottom
        const pos = -1 * Math.floor((offset + opt.finalPos) % opt.height);

        opt.el.style.transform = "translateY(" + pos + "px)";

        if (timeDiff > opt.duration) {
          opt.isFinished = true;
        }
      });

      if (this.opts.every(o => o.isFinished)) {
        this.opts = null;
        this.startedAt = null;
        console.log("winner:", this.raffle_winner)
        this.updateWinner(this.raffle_winner)
      } else {
        next(this.animate);
      }
    },

    updateWinner(registrant) {
      let update_registrant = {...registrant}
      update_registrant.is_winner = true
      update_registrant.prize_desc = 'Major Price'
      
      registrantsCollection.doc(registrant.id).update(update_registrant)
      .then(function(docRef) {
        console.log("Updated document with ID: ", registrant.id);
      })
      .catch(function(error) {
        console.error("Error updating document: ", registrant);
      });
    },
    
    shuffle(arra1) {
      var ctr = arra1.length, temp, index;

      // While there are elements in the array
      while (ctr > 0) {
        // Pick a random index
        index = Math.floor(Math.random() * ctr);
        // Decrease ctr by 1
        ctr--;
        // And swap the last element with it
        temp = arra1[ctr];
        arra1[ctr] = arra1[index];
        arra1[index] = temp;
      }

      return arra1;
    }
  },
  created() {
    let vm = this
    setTimeout(() => {
      if (vm.list.length) {
        this.raffle_list = []
        for (let index = 0; index < this.list.length; index++) {
          const element = this.list[index];
          if (element.is_winner === false) {
            this.raffle_list.push(element)
          }
        }
      }
    }, 5000);
  }
};
</script>
<style>
.slot {
  float: left;
	width: 100%;
	font-size: 2em;
	font-weight: 700;
}
.slot-machine {
  width: 75%;
  margin: auto;
  position: relative;
  top: 150px;
  height: 280px;
}
.slot__window {
  /* border: 1px solid #000; */
  width: 100%;
  height: 280px;
  overflow: hidden;
}
.slot__item {
  height: 280px;
  width: 100%;
  text-align: center;
  line-height: 1;
  font-size: 3.2em;
	color: #FFF;
	opacity: 0;
  font-family: "digital-7_monomono";
  padding-top: 30px;
  text-shadow: 1px 1px 4px #000;
}
.slot__item .year {
  font-size: 0.8em;
  color: rgb(255, 153, 37);
  margin-left: 15px;
}
.slot__item.show {
	opacity: 1;
}
</style>
