<template>
  <div id="app" class="container">
      <template>
        <b-navbar>
          <template slot="start">
            <b-navbar-item class="u-p-top-20" tag="router-link" :to="{ path: '/' }">
              Home
            </b-navbar-item>
            <b-navbar-item class="u-p-top-20" tag="router-link" :to="{ path: '/list' }">
              List
            </b-navbar-item>
          </template>
        </b-navbar>
    </template>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>
<style lang="scss">
  $sizes: (0,10,15,20,25,30,50);
  $positions: ('top','left','bottom','right');

  @each $position in $positions {
    @each $size in $sizes {
      .u-m-#{$position}-#{$size} {
        margin-#{$position}: $size + px;
      }
      .u-p-#{$position}-#{$size} {
        padding-#{$position}: $size + px;
      }
    }
  }
</style>